.wrapper {
    padding: 20px;
    border-bottom: 1px solid #19376D;
    .logo {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 54px;
        }
        h1{
            margin: 0px; 
            padding: 16px;
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
            color: #0B2447;
            text-align: center;
        }
    }
    .nav {
        &__list {
            display: flex;
            align-items: center;
            list-style: none;
            span {
                cursor: pointer;
                margin: 10px 10px;
                margin-right: 20px;
                font-size: 20px;
                vertical-align: middle;
                color: #0B2447;
                font-family: Poppins, sans-serif;
                &:hover {
                    color: #A5D7E8;
                }
            }
        }
        &__item {
            margin: 0px 10px;
            a {
                color: #0B2447;
                text-decoration: none;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                &:hover {
                    color: #A5D7E8;
                }
            }
        }
    }
}