@font-face {
    font-family: "Gruppo";
    src: url("../../../public/fonts/Gruppo-Regular.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/Poppins-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/Poppins-Bold.ttf");
    font-weight: 800;
}